// Navbar
.td-navbar .navbar-brand svg {
  margin: 0;
  height: 32px;
  width: auto;
}

.td-navbar .navbar-brand__name,
.td-navbar .td-search {
  display: none;
}

// Sidebar
.td-sidebar {
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .td-sidebar {
    padding-bottom: 2rem;
  }
}

.td-sidebar-nav {
  margin: 0;
  padding: 0;
}

.td-sidebar-nav>.td-sidebar-nav__section {
  padding: 0;
}

.td-sidebar__search {
  margin: 0;
  padding: 1rem 0;
}

// Footer
.td-footer {
  min-height: 0;
  padding: 1.5rem 0;
}

.td-footer .td-footer__copyright-etc {
  width: 100%;
}

// Main section
.td-default main>section:first-of-type {
  padding: 2rem 0 5rem 0;
}

@media (min-width: 768px) {
  .td-default main>section:first-of-type {
    padding: 6rem 0 5rem 0;
  }
}

// Lead link down
.td-box .td-arrow-down::before {
  bottom: -20px;
}

// RSS button
.td-blog .td-rss-button {
  background-color: $ape_pink;
  color: white;
  font-size: 24px;
}

.td-blog .td-rss-button:hover {
  background-color: $ape_pink_dark_3;
  color: white;
}

// Article meta
.td-content .article-meta {
  display: none;
}

// Tabs
.td-content .nav-tabs {
  border: none;
}

.tab-content .tab-pane {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

// Images
img,
svg {
  max-width: 100%;
}
