// Images
img,
svg {
  max-width: 100%;
}

// Navbar
.td-navbar .navbar-brand svg {
  margin: 0;
  width: auto;
}

.td-navbar .navbar-brand__name,
.td-navbar .td-search {
  display: none;
}

// Sidebar
.td-sidebar {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2rem;
}

.td-sidebar-nav {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
}

.td-sidebar-nav > .td-sidebar-nav__section {
  padding-left: 1rem;
  padding-right: 1rem;
}

.td-sidebar__search {
  margin-left: 0;
  margin-right: 0;
  padding: 1.5rem 1rem 2rem 1rem;
}

// Footer
.td-footer {
  min-height: 0;
  padding: 1.5rem 0;
}

.td-footer .td-footer__copyright-etc {
  width: 100%;
}

// Main
.td-404 main,
.td-main main {
  padding-top: 0;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .td-404 main,
  .td-main main {
    padding-top: 5.5rem;
  }
}

// Content meta
.td-content .article-meta {
  display: none;
}

// RSS button
.td-blog .td-rss-button {
  background-color: $ape_pink;
  color: white;
  font-size: 20px;
}

.td-blog .td-rss-button:hover {
  background-color: $ape_pink_dark_3;
  color: white;
}

// Home first section
.td-default main > section:first-of-type {
  padding: 2rem 0 5rem 0;
}

@media (min-width: 768px) {
  .td-default main > section:first-of-type {
    padding: 6rem 0 5rem 0;
  }
}

// Lead link down
.td-box .td-arrow-down::before {
  bottom: -20px;
}

// Tabs
.td-content .nav-tabs {
  border: none;
}

.tab-content .tab-pane {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
